* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.heading {
  color: aquamarine;
  background-color: coral;
  padding: 20px;
  border-radius: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* btn css  */

.btn-style {
  padding: 10px 20px;
  color: brown;
  background-color: aquamarine;
  border-radius: 8px;
  border: none;
  margin: 5px;
  font-size: 16px;
  font-weight: bold;
  text-transform: capitalize;
}

.btn-style:hover {
  background-color: rgb(40, 200, 147);
}

/* component css  */

.person-info {
  background-color: aquamarine;
  color: blueviolet;
  border: 3px solid chocolate;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
